<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market/animalMarket.css') }}">
</head>
<body>
    <div class="market-container">
        <!-- button to go back to the market menu -->
        <a class="back-button" href="{{ url_for('market.html') }}">Back</a>
        <!-- text for the animal market -->
        <h1>Welcome to the Animal Market!</h1>
        <div class="stand">
            <!-- containter for the cow -->
            <div class="animal-container" id="Cow">
                <!-- Total price for cow -->
                <div class="total-price" id="cow-total-price">Total: 0</div>
                <!-- sell button for the cow -->
                <button class="animal-button" onclick="sellAnimal('cow')">🐄</button>
                <span class="price" id="cow-price">10</span> <!--price -->
                <!--counter to increase/decrease the amount of cows you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('cow')">-</button>
                    <!-- the counter with the amount of cows you are going to sell-->
                    <span class="counter-value" id="cow-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('cow')">+</button>
                </div>
            </div>
            <!-- containter for the rabbits -->
            <div class="animal-container" id="Rabbit">
                <!-- Total price for rabbit -->
                <div class="total-price" id="rabbit-total-price">Total: 0</div>
                <!-- sell button for the rabbit -->
                <button class="animal-button" onclick="sellAnimal('rabbit')">🐇</button>
                <span class="price" id="rabbit-price">10</span> <!--price -->
                <!--counter to increase/decrease the amount of rabbits you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('rabbit')">-</button>
                    <!-- the counter with the amount of rabbits you are going to sell-->
                    <span class="counter-value" id="rabbit-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('rabbit')">+</button>
                </div>
            </div>
            <!-- containter for the goat -->
            <div class="animal-container" id="Goat">
                <!-- Total price for goat -->
                <div class="total-price" id="goat-total-price">Total: 0</div>
                <!-- sell button for the goat -->
                <button class="animal-button" onclick="sellAnimal('goat')">🐐</button>
                <span class="price" id="goat-price">10</span> <!--price -->
                <!--counter to increase/decrease the amount of goats you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('goat')">-</button>
                    <!-- the counter with the amount of goats you are going to sell-->
                    <span class="counter-value" id="goat-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('goat')">+</button>
                </div>
            </div>
            <!-- containter for the sheep -->
            <div class="animal-container" id="Sheep">
                <!-- Total price for sheep -->
                <div class="total-price" id="sheep-total-price">Total: 0</div>
                <!-- sell button for the sheep -->
                <button class="animal-button" onclick="sellAnimal('sheep')">🐑</button>
                <span class="price" id="sheep-price">10</span> <!--price -->
                <!--counter to increase/decrease the amount of sheeps you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('sheep')">-</button>
                    <!-- the counter with the amount of sheeps you are going to sell-->
                    <span class="counter-value" id="sheep-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('sheep')">+</button>
                </div>
            </div>
            <!-- containter for the chicken -->
            <div class="animal-container" id="Chicken">
                <!-- Total price for chicken -->
                <div class="total-price" id="chicken-total-price">Total: 0</div>
                <!-- sell button for the chicken -->
                <button class="animal-button" onclick="sellAnimal('chicken')">🐔</button>
                <span class="price" id="chicken-price">10</span> <!--price -->
                <!--counter to increase/decrease the amount of chicken you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('chicken')">-</button>
                    <!-- the counter with the amount of chicken you are going to sell-->
                    <span class="counter-value" id="chicken-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('chicken')">+</button>
                </div>
            </div>
            <!-- containter for the pig -->
            <div class="animal-container" id="Pig">
                <!-- Total price for pig -->
                <div class="total-price" id="pig-total-price">Total: 0</div>
                <!-- sell button for the pig -->
                <button class="animal-button" onclick="sellAnimal('pig')">🐷</button>
                <span class="price" id="pig-price">10</span> <!--price -->
                <!--counter to increase/decrease the amount of pigs you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('pig')">-</button>
                    <!-- the counter with the amount of pigs you are going to sell-->
                    <span class="counter-value" id="pig-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('pig')">+</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='../../static/js/market/animalMarket.js') }}"></script>
</body>
</html>
