<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market/cropMarket.css') }}">
</head>
<body>
    <div class="market-container">
        <!-- button to go back to the market menu -->
        <a class="back-button" href="{{ url_for('market.market') }}">Back</a>
        <!-- text for the crop market -->
        <h1>Welcome to the Crop Market!</h1>
        <div class="stand">
            <!-- containter for the tomato -->
            <div class="crop-container" id="Tomato">
                <!-- Total price for tomato -->
                <div class="total-price" id="tomato-total-price">Total price: 0</div>
                <!-- sell button for the tomato -->
                <button class="crop-button" onclick="sellCrop('tomato')">
                    <div>
                        <img src="../../static/img/symbols/Tomato.png" alt="🍅">
                        <br>
                        <span>sell</span>
                    </div>
                </button>
                <span class="price" id="tomato-price">&#129689; 10</span> <!--price -->
                <!--counter to increase/decrease the amount of tomatoes you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('tomato')">-</button>
                    <!-- the counter with the amount of tomatoes you are going to sell-->
                    <span class="counter-value" id="tomato-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('tomato')">+</button>
                </div>
            </div>
            <!-- containter for the carrot -->
            <div class="crop-container" id="Carrot">
                <!-- Total price for carrot -->
                <div class="total-price" id="Carrot-total-price">Total price: 0</div>
                <!-- sell button for the carrot -->
                <button class="crop-button" onclick="sellCrop('Carrot')">
                    <div>
                        <img src="../../static/img/symbols/Carrot.png" alt="🥕">
                        <br>
                        <span>sell</span>
                    </div>
                </button>
                <span class="price" id="Carrot-price">&#129689; 10</span> <!--price -->
                <!--counter to increase/decrease the amount of carrots you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('Carrot')">-</button>
                    <!-- the counter with the amount of carrots you are going to sell-->
                    <span class="counter-value" id="Carrot-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('Carrot')">+</button>
                </div>
            </div>
            <!-- containter for the grain -->
            <div class="crop-container" id="Cauliflower">
                <!-- Total price for grain -->
                <div class="total-price" id="Cauliflower-total-price">Total price: 0</div>
                <!-- sell button for the grain -->
                <button class="crop-button" onclick="sellCrop('Cauliflower')">
                    <div>
                        <img src="../../static/img/symbols/Cauliflower.png" alt="Cauliflower">
                        <br>
                        <span>sell</span>
                    </div>
                </button>
                <span class="price" id="Cauliflower-price">&#129689; 10</span> <!--price -->
                <!--counter to increase/decrease the amount of grain you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('Cauliflower')">-</button>
                    <!-- the counter with the amount of grain you are going to sell-->
                    <span class="counter-value" id="Cauliflower-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('Cauliflower')">+</button>
                </div>
            </div>
            <!-- containter for the salad -->
            <div class="crop-container" id="Lettuce">
                <!-- Total price for salad -->
                <div class="total-price" id="Lettuce-total-price">Total price: 0</div>
                <!-- sell button for the salad -->
                <button class="crop-button" onclick="sellCrop('Lettuce')">
                    <div>
                        <img src="../../static/img/symbols/Lettuce.png" alt="🥬">
                        <br>
                        <span>sell</span>
                    </div>
                </button>
                <span class="price" id="Lettuce-price">&#129689; 10</span> <!--price -->
                <!--counter to increase/decrease the amount of salad you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('Lettuce')">-</button>
                    <!-- the counter with the amount of salad you are going to sell-->
                    <span class="counter-value" id="Lettuce-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('Lettuce')">+</button>
                </div>
            </div>
            <!-- containter for the corn -->
            <div class="crop-container" id="Corn">
                <!-- Total price for corn -->
                <div class="total-price" id="Corn-total-price">Total price: 0</div>
                <!-- sell button for the corn -->
                <button class="crop-button" onclick="sellCrop('Corn')">
                    <div>
                        <img src="../../static/img/symbols/Corn.png" alt="🌽">
                        <br>
                        <span>sell</span>
                    </div>
                </button>
                <span class="price" id="Corn-price">&#129689; 10</span> <!--price -->
                <!--counter to increase/decrease the amount of corn you are going to sell-->
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('Corn')">-</button>
                    <!-- the counter with the amount of corn you are going to sell-->
                    <span class="counter-value" id="Corn-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('Corn')">+</button>
                </div>
            </div>
            <!-- containter for the Wheat -->
            <div class="crop-container" id="Wheat">
                <!-- Total price for Wheat -->
                <div class="total-price" id="Wheat-total-price">Total price: 0</div>
                <!-- sell button for the Wheat -->
                <button class="crop-button" onclick="sellCrop('Wheat')">
                    <div>
                        <img src="../../static/img/symbols/Wheat.png" alt="🌾">
                        <br>
                        <span>sell</span>
                    </div>
                </button>
                <span class="price" id="Wheat-price">&#129689; 10</span> <!--price -->
                <!--counter to increase/decrease the amount of strawberries you are going to sell--> 
                <div class="counter">
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="decrementCounter('Wheat')">-</button>
                    <!-- the counter with the amount of strawberries you are going to sell-->
                    <span class="counter-value" id="Wheat-counter">0</span>
                    <!-- button to decrease the counter-->
                    <button class="counter-button" onclick="incrementCounter('Wheat')">+</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='../../static/js/market/cropMarket.js') }}"></script>
</body>
</html>
