<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market/market.css') }}">
</head>
<body>
    <div class="market-container">
        <!-- Button to go to the animal shop -->
        <button class="animal-button" onclick="goToAnimals()">Animals</button>
        <!-- Text that says where you are -->
        <div class="market-text">Market</div>
        <!-- Button to go to the crop shop -->
        <button class="crops-button" onclick="goToCrops()">Crops</button>
    </div>
    <!-- Button to go back to the game -->
    <button class="back-button">Back</button>
    <script src="{{ url_for('static', filename='../static/js/market/market.js') }}"></script>
</body>
</html>

