.back-button {
    font-family: bold;
    background-color: #8B4513; /* background color: brown*/
    border: none;
    color: white;
    padding: 2vh 2vw;/*padding*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;/*font size*/
    margin: 4vh;
    cursor: pointer;
    position: absolute;
    top: 4vh; /* Vertical position of the button */
    left: 2vw; /* Horizontal position of the button */
}

.market-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;/**/
    height: 100%;
    margin-top: 10vh; /* Space above the container */
    overflow-y: auto;
}

.stand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vh;/* Space above the crop boxes */
    width: 100%;/*use the full width*/
    padding: 0 2vw;/*add some space left and right*/
}

.crop-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    width: calc(33.33% - 2vw)/* Adjustment of the width of each element */
}

.title {
    text-align: center;
    margin-top: 5vh; /* Space above the title */
}


.crop-button {
    font-size: 5vw;
    background-color: #8B4513; /* Brown color */
    border: none;
    color: white;
    padding: 2vh 2vw;
    margin-bottom: 1vh;
    cursor: pointer;
}

.crop-button:hover {
    background-color: #8e7c61; /* Background color of the button that is used to sell a crop when you
                                  are on the button */
}

.counter {
    display: flex;
    align-items: center;
}

.counter-button {
    font-size: 3vw;
    padding: 0.5vw 1vw;
    background-color: #bfaa8e; /* Light brown color */
    border: 0.2em solid #8e7c61;
    border-radius: 50%;
    cursor: pointer;
}

.counter-button:hover {
    background-color: #8e7c61;
}

.counter-value {
    font-size: 4vw;
    margin: 0 1vw;
}

body {
    background: linear-gradient(to bottom, #b4ec51, #429321); /* background color */
    height: 100%;/*use the maximum space*/
    margin: 0;/*delete unnecessary space*/
    padding: 0;/*delete unnecessary space*/
}


