<!-- Chat Column -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/sound.js') }}"></script>
    <!-- Bootstrap CSS -->


    <style>

    .custom-chat-window {
        height: 500px;
        width: 700px;
        margin-bottom: 10px;
        margin-top:50px;
    }

    .custom-chat-body {
        overflow-y: scroll;
    }

    .custom-card-footer {
        border-top: 1px solid #ccc;
    }

    .custom-input {
        border-radius: 20px; /* Example of customizing input field */
    }
    .custom-header {
        background-image: url('../../static/img/background/wood.png');
        background-size: cover;
        color: wheat;

    }
     .btn-custom-search{
            background-image: url('../../static/img/background/button-image.png');
            color:wheat;
     }

     .custom-chat-window.card {
            border-radius: 20px; /* Set border-radius to 20px for rounded corners */
     }
     .custom-chat-window{
         background-color: papayawhip;
     }

     .card-header{
         border-radius: 20px;
     }


    button:active {
    cursor: url('../../static/img/UI/pointer_click.png'), auto;
}
    img:hover {
    cursor: url('../../static/img/UI/pointer_hover.png'), auto;
    }

    body{
         cursor: url('../../static/img/UI/cursor.png'), auto;
    }
    </style>





</head>
<body>

<div class="col-md-8">
    <div class="card border chat-window custom-chat-window" >

        <div class="card-header custom-header text-white" id="chat-header">
            Chat with <span id="chat-with-name">...</span>
            <!-- The 'Visit World' button will be added here by JavaScript -->
        </div>

        <div id="chat-messages" class="chat-messages card-body custom-chat-body">
            <!-- Messages will be dynamically loaded here -->
        </div>
        <form id="send-message-form" class="card-footer custom-card-footer">
            <input type="hidden" name="receiver" id="receiver" value="">
            <div class="input-group">
                <input type="text" name="message" id="message-input" class="form-control custom-input" placeholder="Type a message..." required>
                <div class="input-group-append">
                    <button type="button" id="send-message-btn" class="btn btn-custom-search" style="cursor: url('../../static/img/UI/pointer_click.png'), auto;">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    localStorage.getItem('muteButtonState')
    localStorage.getItem('backsoundButtonState')
    // Function to load chat messages
    function loadChat(friend_name) {
        // Here you would make an API call to fetch the chat messages
        // For this example, we're just updating the chat window title
        const chatWithName = document.getElementById('chat-with-name');
        chatWithName.textContent = friend_name;

        const receiver = document.getElementById('receiver');
        receiver.value = friend_name;

        // Clear previous messages
        const chatMessages = document.getElementById('chat-messages');
        chatMessages.innerHTML = ''; // Use innerHTML to clear the messages

        // Remove any existing 'Visit World' button
        const existingButton = document.getElementById('visit-friends-world-btn');
        if (existingButton) {
            existingButton.remove();
        }

        // Create the 'Visit World' button
        const visitWorldButton = document.createElement('button');
        visitWorldButton.id = 'visit-friends-world-btn';
        visitWorldButton.textContent = 'Visit World';
        visitWorldButton.className = 'btn btn-custom-search';
        visitWorldButton.style.float = 'right';
        visitWorldButton.style.cursor = 'url("../../static/img/UI/pointer_click.png"), auto';
        visitWorldButton.onclick = visitFriendsWorld; // Assuming you've defined this function


        // Append the button to the header
        const chatHeader = document.getElementById('chat-header');
        chatHeader.appendChild(visitWorldButton);

        // Fetch messages and populate `chatMessages`
        fetch(`/api/messages/${friend_name}`) // This should be the URL to your API endpoint for fetching messages
            .then(response => response.json())
            .then(messages => {
                // Assuming 'messages' is sorted by 'created_at' in ascending order
                let lastMessageDate = null;

                messages.forEach((msg, index) => {
                    const currentDate = new Date(msg.created_at);

                    // Create elements for the message and its timestamp
                    const messageDiv = document.createElement('div');
                    const messageContent = document.createElement('p');
                    messageContent.textContent = msg.message;
                    messageDiv.className = msg.sender === friend_name ? 'received' : 'sent';

                    // Append the message text to the message div
                    messageDiv.appendChild(messageContent);

                    // Check if there's a need to insert a timestamp divider
                    if (lastMessageDate) {
                        const hourDifference = Math.abs(currentDate - lastMessageDate) / 36e5;
                        if (hourDifference >= 1) {
                            // Insert timestamp divider
                            const timeDivider = document.createElement('div');
                            timeDivider.className = 'time-divider';
                            timeDivider.textContent = lastMessageDate.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                            chatMessages.appendChild(timeDivider);
                        }
                    }

                    // Append the current message
                    chatMessages.appendChild(messageDiv);

                    // Update lastMessageDate with the current message's date
                    lastMessageDate = currentDate;

                    // For the last message in the array, also append a timestamp divider
                    if (index === messages.length - 1) {
                        const timeDivider = document.createElement('div');
                        timeDivider.className = 'time-divider';
                        timeDivider.textContent = currentDate.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
                        chatMessages.appendChild(timeDivider);
                    }
                });


            })
            .catch(error => console.error('Error fetching messages:', error));
    }

    // AJAX call to send a message
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('send-message-btn').addEventListener('click', function() {
            const receiver = document.getElementById('receiver').value;
            const message = document.getElementById('message-input').value;

            fetch('{{ url_for("friends.add_message") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // 'X-CSRFToken': ' csrf_token() '  // If using Flask-WTF CSRF protection
                },
                body: JSON.stringify({
                    receiver: receiver,
                    message: message
                }),
                // credentials: 'same-origin'  // Necessary for including cookies, e.g., CSRF token
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();  // Assuming your Flask route returns JSON
            })
            .then(data => {
                console.log('Message sent:', data);
                document.getElementById('message-input').value = '';  // Clear the input field
                // TODO: Add message to the chat window
                const chatMessages = document.getElementById('chat-messages');
                const messageDiv = document.createElement('div');
                debugger;
                messageDiv.className = 'sent'; // TODO: Change this to 'received' if the message is received
                messageDiv.textContent = message;
                chatMessages.appendChild(messageDiv);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

    // Function to handle the 'Visit World' action
    function visitFriendsWorld() {
        const friendName = document.getElementById('receiver').value;
        // Here you would either navigate to the world or make an API call
        console.log(`Visiting ${friendName}'s world...`);
        window.location.href = `/friends/visit_friend_world/${friendName}`;
        // Example: window.location.href = `/world/${friendName}`;
    }

</script>
</body>
</html>