<!DOCTYPE html>
<html lang="">
<head>
    <title>Dashboard - {{ app_data['app_name'] }}</title>
    <script type="module" src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/sound.js') }}"></script>
    {% include 'head.html' %}

    <style>

        body {
            background-image: url("../../static/img/background/terrain.png");  /* or different image: ../../static/img/backround_dashboard.png  */
             image-rendering: pixelated;



        }

    </style>
</head>
<body>
    {% include 'header&footer.html' %}

  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center">Dashboard</h1>
            <div class="row">
                <!-- Friends Column -->
                {% include 'friends/friends_list.html' %}
                <!-- Chat Column -->
                {% include 'friends/chat_window.html' %}
                <!-- Profile Column
                <div class="col-md-4">
                     include 'profile/profile.html'
                </div>-->
            </div>

        </div>
    </div>
</div>

    {% include 'footer.html' %}
    <script>
        // Automatically load friends when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            loadFriends();
        });
    </script>
</body>
</html>