<!DOCTYPE html>
<html lang="">
<head>
    <title>Dashboard - {{ app_data['app_name'] }}</title>
    <script type="module" src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/sound.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header&footer.css') }}">

    {% include 'head.html' %}

    <style>

        body {
            background-image: url("../../static/img/background/terrain.png");  /* or different image: ../../static/img/backround_dashboard.png  */
             image-rendering: pixelated;



        }

    </style>
</head>
<body>
    <header>
        <button id="back-btn" class="back-btn">
            <a href="{{ url_for('main') }}">
                <img src="{{ url_for('static', filename='img/UI/back_btn.png') }}" alt="Back">
            </a>
        </button>
        <button id="back-btn" class="farmclash-btn">
            <a href="{{ request.path }}">
                <img src="{{ url_for('static', filename='img/UI/FarmClash_btn.png') }}" alt="{{ app_data['app_name'] }}">
            </a>
        </button>
    </header>

  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center"><img src="../../static/img/UI/Friends_tab.png"></h1>
            <div class="row">
                <!-- Friends Column -->
                {% include 'friends/friends_list.html' %}
                <!-- Chat Column -->
                {% include 'friends/chat_window.html' %}
                <!-- Profile Column
                <div class="col-md-4">
                     include 'profile/profile.html'
                </div>-->
            </div>

        </div>
    </div>
</div>
    <script>
        // Automatically load friends when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            loadFriends();
        });
    </script>
</body>
</html>