/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body, html {
    height: 100%; /* Ensure body and html take the full height of the viewport */
    overflow: hidden; /* Hide any overflow content */
}
.back-button {
    font-family: bold;
    background-color: #8B4513; /* brown background color */
    border: none;
    color: white;
    padding: 2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 4vh;
    cursor: pointer;
    position: absolute;
    top: 4vh;
    left: 2vw;
}

.market-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 10vh;
    overflow-y: auto;
}

.stand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vh;/* Space above the animal boxes */
    width: 100%;/*use the full width*/
    padding: 0 2vw;/*some space left and right*/
}

.animal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    width: calc(33.33% - 2vw)/* Adjustment of the width of each element */
}
.animal-button {
    font-size: 3vw; /* The size of the text within the button */
    background-color: #8B4513; /* Brown color */
    border: none;
    color: white;
    padding: 2vh 2vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
    cursor: pointer;
    width: 10vw; /* Adjusted width of the button */
    height: 10vw; /* Adjusted height of the button */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animal-button div {
    font-size: 70%; /* Make the text inside the button smaller */
}

.animal-button span:first-child {
    font-size: 150%; /* Maintain the size of the emoji */
}



.animal-button:hover {
    background-color: #bfaa8e; /* Light brown color */
}

.counter {
    display: flex;
    align-items: center;
}

.counter-button {
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    background-color: #bfaa8e; /* Light brown color */
    border: 0.2em solid #8e7c61;
    border-radius: 50%;
    cursor: pointer;
}

.counter-button:hover {
    background-color: #8e7c61;
}

.counter-value {
    font-size: 2vw;
    margin: 0 1vw;
}

body {
    background: linear-gradient(to bottom, #e8c187, #85603f); /* background colour */
    height: 100%;/*use the maximum space*/
    margin: 0;/*delete unnecessary space*/
    padding: 0;/*delete unnecessary space*/
}


