/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body, html {
    height: 100%; /* Ensure body and html take the full height of the viewport */
    overflow: hidden; /* Hide any overflow content */
    font-family: 'Press Start 2P', Arial, sans-serif;
}
.back-button {
    background-color: #8B4513;
    border: none;
    color: white;
    padding: 2vh 2vw;/*padding*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;/*font size*/
    margin: 4vh;
    cursor: pointer;
    position: absolute;
    top: 4vh; /* Vertical position of the button */
    left: 2vw; /* Horizontal position of the button */
}

.market-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;/**/
    height: 100%;
    margin-top: 10vh; /* Space above the container */
    overflow-y: auto;
}

.stand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vh;/* Space above the crop boxes */
    width: 100%;/*use the full width*/
    padding: 0 2vw;/*add some space left and right*/
}

.crop-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    width: calc(33.33% - 2vw)/* Adjustment of the width of each element */
}

.title {
    text-align: center;
    margin-top: 5vh; /* Space above the title */
}

.crop-button {
    font-size: 3vw; /* The size of the text within the button */
    background-color: #e8cfa6; /* Brown color */
    color: #c49a6c;
    padding: 0 10px;
    border-radius: 10px;
    border: 5px;
    cursor: pointer;
    display: flex;
}

.crop-button div {
     padding: 10px 20px;
    margin-top: 5%; /* Move the text to the bottom */
    font-size: 70%; /* Make the text inside the button smaller */
}

.crop-button span:first-child {
    font-size: 150%; /* Maintain the size of the emoji */
}

.crop-button:hover {
    background-color: #c49a6c;
    color: #aa7959;
}

.counter {
    display: flex;
    align-items: center;
}

.counter-button {
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    background-color: #bfaa8e; /* Light brown color */
    border: 0.2em solid #8e7c61;
    border-radius: 50%;
    cursor: pointer;
}

.counter-button:hover {
    background-color: #8e7c61;
}

.counter-value {
    font-size: 2vw;
    margin: 0 1vw;
}

body {
    background: linear-gradient(to bottom, #b4ec51, #429321); /* background color */
    height: 100%;/*use the maximum space*/
    margin: 0;/*delete unnecessary space*/
    padding: 0;/*delete unnecessary space*/
    user-select: none;
    /* Prevent dragging of the element */
    user-drag: none;
    /* Additional styles to ensure compatibility */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


