<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/UI.css">
    <title>game UI</title>
</head>
<body>
    <header>
        <button id="leaderboard-btn" class="leaderboard-btn">
             <a href="{{ url_for('game.townhall') }}">
                <img src="../../static/img/UI/leaderboard_btn.png" alt="🏆">
            </a>
        </button>

        <button id="resource-btn" class="resource-btn">
            <img src="../../static/img/UI/resource_btn.png" alt="🌱">
        </button>
        <div class="overlay" id="resource-overlay">
            <div class="popup">
                <!-- The resource amounts of the user will be inserted here dynamically -->
            </div>
        </div>

        <div class="money-display">
             <!-- The money amounts of the user will be dynamically changed -->
            <img src="../../static/img/UI/display.left.short.png" alt="" draggable="false">
            <img src="../../static/img/UI/display.0.png" alt="0" draggable="false">
            <img src="../../static/img/UI/display.money.right.png" alt="🪙" draggable="false">
        </div>

        <button id="setting-btn" class="setting-btn">
            <a href="{{ url_for('settings') }}">
                <img src="../../static/img/UI/setting_btn.png" alt="⚙️">
            </a>
        </button>
        <button id="chat-btn" class="chat-btn">
            <a href="{{ url_for('friends.dashboard') }}">
                <img src="../../static/img/UI/chat_btn.png" alt="💬">
            </a>
        </button>
    </header>
    <footer>
        <button id="market-btn" class="market-btn">
            <a href="{{ url_for('market.market') }}">
                <img src="../../static/img/UI/market_btn.png" alt="🛒">
            </a>
        </button>
        <button id="attack-btn" class="attack-btn">
            <a href="{{ url_for('attack') }}">
                <img src="../../static/img/UI/attack_btn.png" alt="⚔️">
            </a>
        </button>
    </footer>
    <script src="../../static/js/gameUI.js"></script>
</body>
</html>
