<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{app_data['app_name']}}</title>

    <!--{% include 'head.html' %}-->

    <style>
        canvas {
            margin: 0;
            image-rendering: pixelated;
        }

        body {
            overflow: hidden;
            margin: 0;
        }

        #buildingCanvas {
            z-index: 2;
        }
        #terrainCanvas {
            z-index: 1;
        }

    </style>

</head>
<body>

	<!--{% include 'header.html' %}-->

    <div>
        <canvas id="buildingCanvas"></canvas>
        <canvas id="terrainCanvas"></canvas>
    </div>


	<!--{% include 'footer.html' %}-->

    <script type="module" src="{{ url_for('static', filename='js/canvas.js') }}"></script>
</body>