<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="newmes.css">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3 border p">

            <h4>Search Friends</h4>
            <input class="searchblok" type="text" placeholder="Search...">
        </div>
        <div class="col-md-9 border p-0">
             <div class="border p-3">
            <h3>messages</h3>
            <div class="d-flex justify-content-end">
               <input class="typeblok mr-2" type="text" placeholder="Type your message">
                <input class="btn btn-primary" type="button" value="Send">
            </div>
             </div>
        </div>
    </div>
</div>

</body>
</html>