<div class="test-popup">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pop-up-UI.css') }}">
    <div id="Popup-text">
        <p id="building-info-title">Building Info</p>
        <p id="display-name"></p>

        <p id="explanation">
            Dive into the heart of your farm's egg production with the Chicken House.
            This vital building is where your feathered friends lay eggs, ready for
            market sale. Upgrade to boost production. Every egg sold brings you one
            step closer to agricultural dominance.
        </p>



        <ul id="stats" class="stats">
            <li id="level-stat"></li>
            <li>———————————</li>
            <li>
                <div id="upgrade-cost" class="cost">

                </div>
            </li>
        </ul>
        <ul id="augment-stats" class="stats">
            <li id="augment-level-stat"></li>
            <li>———————————</li>
            <li>
                <div id="augment-cost" class="cost">

                </div>
            </li>
        </ul>
    </div>
    <img id="background-img" class="popup-background" src="{{ url_for('static', filename='img/ui_Elements/popupBackground.png') }}" alt="popup background">

    <button id="view-btn" class="view-btn" alt="View">
        <a href="" id="view-UI">
            <img src="../../static/img/UI/view_btn.png" alt="View">
        </a>
    </button>

    <button id="augment-btn" class="augment-button">
        <img src="../../static/img/UI/augment_btn.png" alt="+" id="augment-image" draggable="false">
    </button>
    <img id="close-button" class="close-button" src="{{ url_for('static', filename='img/ui_Elements/closeButton.png') }}" alt="close button">
    <img id="close-button-pressed" class="close-button" src="{{ url_for('static', filename='img/ui_Elements/closeButtonPressed.png') }}" alt="close button pressed">

    <img id="upgrade-button" class="upgrade-button" src="{{ url_for('static', filename='img/ui_Elements/upgradeButton.png') }}" alt="upgrade button">
    <img id="upgrade-button-pressed" class="upgrade-button" src="{{ url_for('static', filename='img/ui_Elements/upgradeButtonPressed.png') }}" alt="upgrade button pressed">
</div>
