<div class="information-popup">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pop-up-UI.css') }}">
    <div id="Popup-text">
        <p id="building-info-title">Building Info</p>
        <p id="building-display-name">Chicken House</p>

        <p id="building-explanation">
            Dive into the heart of your farm's egg production with the Chicken House.
            This vital building is where your feathered friends lay eggs, ready for
            market sale. Upgrade to boost production. Every egg sold brings you one
            step closer to agricultural dominance.
        </p>

        <ul id="building-stats">
            <li id="level-stat">Level: 4</li>
            <li>———————————</li>
            <li>
                <div id="building-upgrade-cost">
                    <p>Upgrade cost: <span id="building-upgrade-cost-number">500</span></p> <!-- This will be updated dynamically -->
                    <img src="{{ url_for('static', filename='img/resources/Coin.png') }}" alt="🪙">
                </div>
            </li>
            <li>Eggs/hour: 3 (upgrade +1)</li>
        </ul>
    </div>
    <img id="background-img" class="popup-background" src="{{ url_for('static', filename='img/ui_Elements/popupBackground.png') }}" alt="popup background">

    <img id="close-button" class="close-button" src="{{ url_for('static', filename='img/ui_Elements/closeButton.png') }}" alt="close button">
    <img id="close-button-pressed" class="close-button" src="{{ url_for('static', filename='img/ui_Elements/closeButtonPressed.png') }}" alt="close button pressed">

    <img id="upgrade-button" class="upgrade-button" src="{{ url_for('static', filename='img/ui_Elements/upgradeButton.png') }}" alt="upgrade button">
    <img id="upgrade-button-pressed" class="upgrade-button" src="{{ url_for('static', filename='img/ui_Elements/upgradeButtonPressed.png') }}" alt="upgrade button pressed">
</div>


<div class="cropSelector">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cropPopup.css') }}">
    <img id="cropPopup-background" class="popup-background" src="{{ url_for('static', filename='img/ui_Elements/CropPopupBackground.png') }}" alt="crop-popup background">
    <div class="crop-buttons-grid">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/WheatButton.png') }}" alt="wheat button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/CarrotButton.png') }}" alt="carrot button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/CornButton.png') }}" alt="corn button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/LettuceButton.png') }}" alt="lettuce button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/TomatoButton.png') }}" alt="tomato button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/TurnipButton.png') }}" alt="turnip button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/ZucchiniButton.png') }}" alt="zucchini button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/ParsnipButton.png') }}" alt="parsnip button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/CauliflowerButton.png') }}" alt="cauliflower button">
        <img src="{{ url_for('static', filename='img/ui_Elements/cropButtons/EggplantButton.png') }}" alt="eggplant button">
    </div>
</div>