/* General settings for the body element */
body {
    height: 100vh; /* Body height set to full viewport height */
    display: flex; /* Flexbox layout for centering content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    font-family: bold, serif; /* Set font */
    background-image: url('../../img/background/terrain.png'); /* Add background image */
    cursor: url('../../img/UI/cursor.png'), auto; /*cursor*/
}

/* Adjusted cursor when mouse is pressed */
button:hover {
    cursor: url('../../img/UI/brown_cursor.png'), auto;
}

/* Cursor for the back btn when hovered over */
.back-btn:hover {
    cursor: url('../../img/UI/brown_cursor.png'), auto;
}

/* Styles for the .book element */
.book {
    position: relative; /* Relative positioning for positional control */
    width: 350px; /* Width of the book */
    height: 450px; /* Height of the book */
    transition: transform 1s; /* Transition for transform effect */
}

/* Styles for the .cover elements */
.cover {
    position: absolute; /* Absolute positioning within the .book container */
    width: 100%; /* Full width of the .book container */
    height: 100%; /* Full height of the .book container */
    top: 0; /* Distance from the top of the .book container */
    left: 0; /* Distance from the left of the .book container */
    perspective: 1500px; /* Perspective for 3D effect */
    border-radius: 0 10px 10px 0; /* Rounding the corners of the .cover elements */
    display: flex; /* Flexbox layout for content*/
    align-items: center; /* Center content vertically */
    align-content: center; /* Align content vertically */
    transform-origin: center left; /* Set transformation origin */
    transition-duration: 0.5s; /* Transition duration for animation effects */
}

/* Styles for the .paper element */
.paper {
    position: absolute; /* Absolute positioning within the .book container */
    width: 97%; /* Width of the paper within the .cover */
    height: 97%; /* Height of the paper within the .cover */
    margin-top: 1.5%; /* Top margin of the paper within the .cover */
    top: 0; /* Distance from the top of the .cover */
    left: 0; /* Distance from the left side of the .cover */
    perspective: 1500px; /* Perspective for 3D effect */
    transition-duration: 0.5s; /* Transition duration for animation effects */
}

/* Styles for the .front and .back elements */
.front, .back {
    background-color: white; /* Background color for the .front and .back elements */
    position: absolute; /* Absolute positioning within the .cover */
    width: 100%; /* Full width of the .cover */
    height: 100%; /* Full height of the .cover */
    top: 0; /* Distance from the top of the .cover */
    left: 0; /* Distance from the left side of the .cover */
    transform-origin: left; /* Set transformation origin */
    transition: transform 1s; /* Transition for transform effect */
    border-radius: 0 20px 20px 0; /* Rounding the corners of the .front and .back elements */
}

/* Styles for the .front elements */
.front {
    z-index: 1; /* Z-index for stacking */
    backface-visibility: hidden; /* Hide the back of the element */
    border-left: 1px solid black; /* Left border for .front elements */
}

/* Styles for the .back elements */
.back {
    z-index: 0; /* Z-index for stacking */
}

/* Styles for the .front-cover and .back-cover elements */
.front-cover, .back-cover {
    background-color: saddlebrown; /* Background color for the .front-cover and .back-cover elements */
    color: gold; /* Text color for the .front-cover and .back-cover elements */
    position: absolute; /* Absolute positioning within the .cover */
    width: 100%; /* Full width of the .cover */
    height: 100%; /* Full height of the .cover */
    top: 0; /* Distance from the top of the .cover */
    left: 0; /* Distance from the left side of the .cover */
    transform-origin: left; /* Set transformation origin */
    transition: transform 1s; /* Transition for transform effect */
    border-radius: 0 20px 20px 0; /* Rounding the corners of the .front-cover and .back-cover elements */
}

/* Styles for the .front-cover elements */
.front-cover {
    z-index: 1; /* Z-index for stacking */
    backface-visibility: hidden; /* Hide the back of the element */
}

/* Styles for the .back cover elements */
.back-cover {
    z-index: 0; /* Z-index for stacking */
}

/* Styles for the .back content elements */
.back-content {
    transform: rotateY(180deg); /* 180 degree rotation for .back content elements */
}

/* Styles for the .front-content and .back-content elements */
.front-content, .back-content {
    width: 100%; /* Full width of content */
    height: 100%; /* Full height of contents */
    display: flex; /* Flexbox layout for content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Styles for the buttons */
button {
    border: none; /* No border around the buttons */
    background-color: transparent; /* Transparent background for the buttons */
    cursor: pointer; /* Change cursor to pointer */
    margin: 10px; /* margins of the buttons */
    transition: transform 1s; /* Transition for transform effect */
    padding: 0; /* No padding inside the buttons */
    width: 100px; /* Width of the buttons */
    height: 100px; /* Height of the buttons */
}


/* Styles for the previous button image */
#prev-btn {
    background-image: url('../../img/UI/back_btn.png'); /* Background image for the previous button */
    width: 44px; /* Width of the previous button */
    height: 48px; /* Height of the previous button */
    background-size: cover; /* Cover background image */
    border: none; /* No border around the previous button */
}

/* Styles for the image next button */
#next-btn {
    background-image: url('../../img/UI/next_btn.png'); /* Background image for the next button */
    width: 44px; /* Width of the next button */
    height: 48px; /* Height of the next button */
    background-size: cover; /* Cover background image */
    border: none; /* No border around the next button */
}

/* Styles for the back button */
#back-btn {
    position: absolute; /* Absolute positioning for precise placement */
    top: 5.6vh; /* Distance from the top of the parent container */
    left: 2.65vw; /* Distance from the left of the parent container */
    transform: translate(-50%, -50%); /* Translate button to center of top left corner */
    z-index: 999; /* Set a high z-index to ensure it's on top of other elements */
}



/* Stacking order for the .cover and .paper elements */
#c1 {
    z-index: 15; /* Z index for .cover 1 */
}
#p1 {
    z-index: 14; /* Z index for .paper 1 */
}
#p2 {
    z-index: 13; /* Z-index for .paper 2 */
}
#p3 {
    z-index: 12; /* Z-index for .paper 3 */
}
#p4 {
    z-index: 11; /* Z index for .paper 4 */
}
#p5 {
    z-index: 10; /* Z-index for .paper 5 */
}
#p6 {
    z-index: 9; /* Z-index for .paper 6 */
}
#p7 {
    z-index: 8; /* Z-index for .paper 7 */
}
#p8 {
    z-index: 7; /* Z-index for .paper 8 */
}
#p9 {
    z-index: 6; /* Z-index for .paper 9 */
}
#p10 {
    z-index: 5; /* Z-index for .paper 10 */
}
#p11 {
    z-index: 4; /* Z-index for .paper 11 */
}
#p12 {
    z-index: 3; /* Z-index for .paper 12 */
}
#p13 {
    z-index: 2; /* Z-index for .paper 13 */
}
#c2 {
    z-index: 1; /* Z-index for .cover 2 */
}

/* Stylized elements for the 'flipped' state */
.flipped .front,
.flipped .back,
.flipped .back-cover,
.flipped .front-cover {
    transform: rotateY(-180deg); /* 180 degree rotation for reverse viewing */
}

/* Shadows for .front-cover and .back-cover elements */
.cover .front-cover,
.cover .back-cover {
    box-shadow: 0 0 10px saddlebrown; /* Add shadows to the .front-cover and .back-cover elements */
}

/* Styles for the image container */
.image-container {
    max-width: 100%; /* Maximum width of the container */
    max-height: 100%; /* Maximum height of the container */
    overflow: hidden; /* Hide any overflow from the image */
}

/* Styles for the image inside the container*/
.image-container img {
    max-width: 100%; /* Maximum width of the image */
    height: auto; /* Preserve the aspect ratio of the image */
    display: block; /* Make sure the image displays correctly within the container */
}