<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farm Clash</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books/book.css') }}">
  <script src="{{ url_for('static', filename='../../static/js/books/book.js') }}" defer></script>
</head>
<body>
  <!--back button-->
  <!--button to go back to settings-->
  <div class="back-btn">
    <div class="book">
        <img src="../../static/img/buttons/back_btn.png" alt="Book" usemap="#settings" id="back-btn">
        <map name="settings">
            <area shape="rect" coords="0,0,150,150" alt="Book" href="{{ url_for('settings') }}">
        </map>
    </div>
  </div>


  <!--prev button-->
  <!--button to go back in the book-->
  <button id="prev-btn">
    <i class="fas fa-arrow-circle-left"></i>
  </button>
  <!--the book from which one reads-->
  <div id="book" class="book">
    <!--cover-->
    <div id="c1" class="cover">
        <!--front side of the cover-->
      <div class="front-cover">
          <div id="fC" class="front-content">
              <!--title of the book-->
              <h1>Farm Clash</h1>
          </div>
      </div>
        <!--backside of the cover-->
      <div class="back-cover">
          <div id="fB" class="back-content">
              <h1>FrontCover Back</h1>
          </div>
      </div>
    </div>
   <!--the first paper in the book-->
    <div id="p1" class="paper">
        <!--front side of the first paper-->
      <div class="front">
          <!--content of the front side of the first paper-->
        <div id="f1" class="front-content">
            <p>
                - select the crops<br>
                - sell the crops<br>
                - go back
            </p>
        </div>
      </div>
        <!--back side of the first page-->
      <div class="back">
          <!--content of the back side of the first paper-->
        <div id="b1" class="back-content">
            <div class="image-container">
                <img src="../../static/img/bookImages/crop.png" alt="Beschrijving van de afbeelding">
            </div>
        </div>
      </div>
    </div>
    <!--second paper of the book-->
    <div id="p2" class="paper">
        <!--front side of the second page-->
      <div class="front">
          <!--content of the front side of the second paper-->
        <div id="f2" class="front-content">
            <p>
                1. The type of crop you will sell here.<br>
                2. The price that this crop costs.<br>
                3. The button that will allow you to sell<br>
                   this type decreases.<br>
                4. The amount of this type of crop you will sell<br>
                5. The button that will allow you to sell<br>
                   this type increases.<br>
            </p>
        </div>
      </div>
        <!--back side of the second page-->
      <div class="back">
          <!--content of the back side of the second paper-->
        <div id="b2" class="back-content">
            <div class="image-container">
                <img src="../../static/img/bookImages/sell_pbtn.png" alt="Beschrijving van de afbeelding">
            </div>
        </div>
      </div>
    </div>
    <!--third paper of the book-->
    <div id="p3" class="paper">
         <!--front side of the third page-->
      <div class="front">
          <!--content of the front side of the third paper-->
        <div id="f3" class="front-content">
            <p>
                After you have indicated the crops you want to sell,<br>
                you can sell these crops here.
            </p>
        </div>
      </div>
        <!--back side of the third page-->
      <div class="back">
          <!--content of the back side of the third paper-->
        <div id="b3" class="back-content">
            <div class="image-container">
                <img src="../../static/img/buttons/back_btn.png" alt="Beschrijving van de afbeelding">
            </div>
        </div>
      </div>
    </div>
      <!--fourth paper of the book-->
    <div id="p4" class="paper">
         <!--front side of the third page-->
      <div class="front">
          <!--content of the front side of the third paper-->
        <div id="f4" class="front-content">
            <p>
                go back to the home page
            </p>
        </div>
      </div>
        <!--back side of the third page-->
      <div class="back">
          <!--content of the back side of the third paper-->
        <div id="b4" class="back-content">
        </div>
      </div>
    </div>
    <!--back cover-->
    <div id="c2" class="cover">
        <!--front side of the back cover-->
        <div class="front-cover">
            <!--content of the front side of the back cover-->
            <div id="FBC" class="front-content">
                <h1>BackCoverFront</h1>
            </div>
        </div>
        <!--back side of the back cover-->
        <div class="back-cover">
            <!--content of the back side of the back cover-->
            <div id="BBC" class="back-content">
                <h1>BackCoverBack</h1>
            </div>
        </div>
    </div>
  </div>
  <!--next button-->
  <!--button to continue in the book-->
  <button id="next-btn">
    <i class="fas fa-arrow-circle-right"></i>
  </button>
</body>
</html>