<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_data['app_name'] }}</title>
    {% include 'head.html' %}
</head>
<body>
    {% include 'logged_in_header.html' %}

    <!--This will be replaced with the actual interface-->
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Attack</h1>
                <div class="borderme mx-auto">

                    <div class="smalltitle">Here will come the attack screen</div>

                </div>
            </div>
        </div>
    </div>
    <!--until here-->
    <script type="module" src="{{ url_for('static', filename='js/sound.js') }}"></script>

    {% include 'footer.html' %}
</body>
</html>