<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app_data['app_name']}} - Book</title>
    <link rel="stylesheet" href="../static/css/book.css">
    {% include 'head.html' %}
</head>
<body>
    {% include 'header&footer.html' %}
    <button class="back-btn">
    <a href="{{ url_for('settings') }}">
        <img src="../static/img/UI/back_btn.png" alt="Logout" usemap="#logoutMap" id="image-button">
    </a>
    </button>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Game Overview</h1>
                <p>Welcome to the game overview page. Here you can learn about various features and settings available in the game to enhance your experience.</p>
                <br>
                <h5>Farm</h5>
                <ul>
                    <li><strong>Buildings:</strong> <br>Left-click a building if you want to move it. Right-click a building to see more information and to check out its stats, or upgrade it.</li>
                    <li><strong>Farming:</strong> <br>Right-click an empty field to see what crops are available. Select the crop you like, and now it's time toooo wait... Watch the crops grow as you play the game and when a field's edge becomes green it's time to harvest.
                        Just click a field to harvest the crops, after which they will be stored in your silo. Quickly check out your resources with the resource button in the top-left.
                        Upgrading fields will give you acces to more crops which you can sell for higher prices on the market. Each subsequent crop you unlock will take twice as long to grow as the previous crop.</li>

                </ul>
                <br>
                <h5>Settings</h5>
                <ul>
                    <li><strong>Log-out:</strong> Click the log-out button to securely log out of your account.</li>
                    <li><strong>Sound:</strong> Adjust the game volume using the sound buttons. You can increase or decrease the volume as per your preference.</li>
                    <li><strong>Mute:</strong> Use the mute button to quickly mute all game sounds.</li>
                    <li><strong>Background Sound:</strong> Toggle the background music on or off to suit your liking.</li>
                    <li><strong>Zoom:</strong> Adjust the zoom level of the game interface to get a better view or more detailed perspective.</li>
                </ul>
                <br>
                <h5>Market</h5>
                <ul>
                    <li><strong>Picture:</strong> The figures indicate the type of crop.</li>
                    <li><strong>Price:</strong> Underneath the figure you can see the price of 1 piece of the corresponding crop type.</li>
                    <li><strong>Amount:</strong> You can adjust it with the plus button and minus button, or directly enter the amount yourself by entering it in the number between the plus and minus button.</li>
                    <li><strong>Sell:</strong> Click the sell button to sell all selected crops.</li>
                </ul>
                <br>
                <h5>Chat</h5>
                <ul>
                    <li><strong>Chat:</strong> You can select a friend to chat with in the chat box.</li>
                    <li><strong>Search:</strong> You can search another player and add them as your friend.</li>
                    <li><strong>Visit:</strong> You can also select a friend and visit them via the "visit world" button.</li>
                </ul>
                <br>
                <h5>Leaderboard</h5>
                <ul>
                    <li> Here you compare yourself to the best players in the world.</li>
                </ul>
                <br>
                <h5>Attack</h5>
                <ul>
                    <li><strong>Steal: </strong> Steal as many crops from your opponent as possible.</li>
                    <li><strong>Oponent: </strong> Better players bring in more, but are harder to beat.</li>
                </ul>
                <br>
            </div>
        </div>

        <!-- You can add more content here -->

    </div>

    <script src="{{ url_for('static', filename='js/book.js') }}"></script>
</body>
</html>
