<html>
<head>
    <title>{{ app_data['app_name'] }}</title>
    {% include 'head.html' %}
</head>
<body>
    {% include 'header.html' %}

    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Dashboard</h1>
                <div class="borderme mx-auto">

                    <div class="smalltitle">Here will come friends list, recources list,...</div>
                    <!--<div class="my-3">
                        GET <a class="larger" href="/users">/users</a><br/>
                    </div>
                    <div class="mb-3">
                        GET <a class="larger" href="/user/1">/user/1</a> <br/>
                    </div>-->

                </div>
                <div class="my-3">
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
