<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test html</title>
  <link rel="stylesheet" href="../static/css/explore.css">
</head>
<body>
{% include 'header&footer.html' %}
<div class="exploration" id="before-exploration">
    <div class="animal-list">
        <div class="animal">
            <img src="../static/img/assets/animals/Chicken/Chicken.1.png" class="animal-img" alt="Chicken" title="Chicken" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button" id="Decrease-Chicken">
                    <img src="../static/img/UI/minus_btn.png" alt="-" draggable="false">
                </button>
                <input class="input-container" type="number" id="Chicken" value="0" min="0">
                <button class="quantity-button" id="Increase-Chicken">
                    <img src="../static/img/UI/plus_btn.png" alt="+" draggable="false">
                </button>
            </div>
        </div>

        <div class="animal">
            <img src="../static/img/assets/animals/Cow/Cow.1.png" class="animal-img" alt="Cow" title="Cow" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button" id="Decrease-Cow">
                    <img src="../static/img/UI/minus_btn.png" alt="-"  draggable="false">
                </button>
                <input class="input-container" type="number" id="Cow" value="0" min="0">
                <button class="quantity-button" id="Increase-Cow">
                    <img src="../static/img/UI/plus_btn.png" alt="+"  draggable="false">
                </button>
            </div>
        </div>

        <div class="animal">
            <img src="../static/img/assets/animals/Pig/Pig.1.png" class="animal-img" alt="Pig" title="Pig" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button" id="Decrease-Pig">
                    <img src="../static/img/UI/minus_btn.png" alt="-" draggable="false">
                </button>
                <input class="input-container" type="number" id="Pig" value="0" min="0">
                <button class="quantity-button" id="Increase-Pig">
                    <img src="../static/img/UI/plus_btn.png" alt="+"  draggable="false">
                </button>
            </div>
        </div>

        <div class="animal">
            <img src="../static/img/assets/animals/Goat/Goat.1.png" class="animal-img" alt="Goat" title="Goat" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button"  id="Decrease-Goat">
                    <img src="../static/img/UI/minus_btn.png" alt="-" draggable="false">
                </button>
                <input class="input-container" type="number" id="Goat" value="0" min="0">
                <button class="quantity-button" id="Increase-Goat">
                    <img src="../static/img/UI/plus_btn.png" alt="+" draggable="false">
                </button>
            </div>
        </div>

    </div>

    <div class="perk-list">
        Perks
    </div>

    <div class="explore">
        <select id="exploration-time" class="exploration-time">
            <option value="1">1 minute</option>
            <option value="20">20 minutes</option>
            <option value="60">1 hour</option>
            <option value="180">3 hours</option>
            <option value="720">12 hours</option>
            <option value="1440">1 day</option>
        </select>
        <button class="explore-btn" id="explore-btn">
            <img src="../static/img/UI/big_explore_btn.png" alt="explore" draggable="false">
        </button>
    </div>
</div>
<div class="exploration" id="during-exploration"></div>
<div class="exploration" id="after-exploration"></div>
<script src="../static/js/explore.js"></script>
</body>
</html>
