<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/mystyle.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>