<html>
<head>
	<title>{{app_data['app_name']}}</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/mystyle.css') }}">
    
	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
</head>
<body>	
	{% include 'header.html' %}

    <a href="{{ url_for('test') }}">Game test page</a>
    
    <!-- 
        Bootstrap has a grid system for aligning elements in a responsive layout.

        The outer element is a container, which contains rows and columns.
        Each row can should contain up to 12 columns. However, excess columns
        will simply be stacked.

        When adding multiple columns to a row, the framework automatically assigns
        equal width to all columns. For variable with columns, one can use for
        instance col-1, col-sm-2, col-md-4 or col-xl-8.

        More information can be found using the following URL:
            https://getbootstrap.com/docs/4.0/layout/grid/
    -->

	<div class="d-flex justify-content-center align-items-center">
		<img src="{{ url_for('static', filename='img/sproud-lands.gif') }}" class="img-fluid">
	</div>

    
    {% include 'footer.html' %}   
</body>
</html>
