<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jasmine Tests</title>
    {% include 'head.html' %}
    <style>
        header {
            position: static;
        }
    </style>

    <!-- Jasmine CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jasmine-core@latest/lib/jasmine-core/jasmine.css">
    <script src="https://cdn.jsdelivr.net/npm/jasmine-core@latest/lib/jasmine-core/jasmine.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jasmine-core@latest/lib/jasmine-core/jasmine-html.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jasmine-core@latest/lib/jasmine-core/boot0.js"></script>
    <!-- This will be added dynamically, and run the tests on button click -->
    <script src="https://cdn.jsdelivr.net/npm/jasmine-core@latest/lib/jasmine-core/boot1.js"></script>
    <!-- Source scripts -->
    <script type="module" src="{{ url_for('static', filename='js/BaseMapKlasse.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/buildingLayer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/developerFunctions.js') }}"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='js/canvas.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='js/terrainLayer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/ticker.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/userInputHandler.js') }}"></script>
    <!-- Test scripts -->
    <script type="module" src="{{ url_for('static', filename='js/tests/BaseMapKlasse-tests.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tests/basemap-tests.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tests/buildinglayer-tests.js') }}"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='js/tests/canvas-tests.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='js/tests/developerfunctions-tests.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tests/terrainlayer-tests.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tests/ticker-tests.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tests/userinputhandler-tests.js') }}"></script>

</head>
<body>
    {% include 'header.html' %}
    {% include 'footer.html' %}
</body>
</html>