<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/UI.css">
    <title>game branch header</title>
</head>
<body>
    <div class="back-btn">
        <img src="../static/img/buttons/back_btn.png" alt="{{ app_data['app_name'] }}" usemap="#backMap" id="back-btn">
        <map name="backMap">
            <area shape="rect" coords="0,0,150,150" alt="{{ app_data['app_name'] }}" href="{{ url_for('main') }}">
        </map>
    </div>
    <div class="welcome-user">
        <a class="nav-item nav-link" href="{{ request.path }}">Welcome, {{ current_user.username }}!</a>
    </div>
</body>
</html>