<!DOCTYPE html>
<html>
<head>
    <title>Login - {{ app_name }}</title>
    {% include 'head.html' %} <!-- Ensure this file includes Bootstrap CSS -->
</head>
<body class="d-flex align-items-center vh-100"> <!-- This class combination will center the content vertically -->
    {% include 'header.html' %}

    <div class="container-fluid mt-5">
        <div class="row justify-content-center"> <!-- This will center the column horizontally -->
            <div class="col-md-4"> <!-- Adjust the column size as needed -->
                <h2 class="text-center mb-4">Login</h2> <!-- Add bottom margin to the title -->
                <form action="/auth/login" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Login</button> <!-- Make the button block level -->
                </form>
                <div class="text-center mt-3"> <!-- Add top margin to the register link -->
                    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a>.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
