body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed from center to flex-start */
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: auto; /* Added to handle overflow */
    padding-top: 20px; /* Added padding to create space for the button */
}

.back-btn {
    display: inline-block;
    width: 44px;
    height: 46px;
    background: url('../../static/img/UI/back_btn.png') no-repeat;
    background-size: 100% 100%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
    text-decoration: none;
    background-color: white;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

ul li {
    margin-bottom: 15px; /* Adjust this value to control the spacing */
}
