.cropSelector {
  width: 190px;
  height: 650px;
  position: absolute;
  right: -510px;
  opacity: 0;
  transition: right 200ms, opacity 200ms;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust centering based on the popup's height */
  z-index: 10;
  border: solid red;
  /* Adjust the min-top with JavaScript if needed */
}

.cropSelector.show {
  right: 50px;
  opacity: 1;
}


#cropPopup-background img {
    position: absolute;
    top: 10px;
    width: 190px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

