.leaderboard-header {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.leaderboard-table thead{
    text-align: center;
}

.leaderboard-table tbody tr{
    border: 1px solid sandybrown;
}