body {
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 20px;
    background-image: url('../img/background/wood.panel.png');
    image-rendering: pixelated;
    user-select: none;
    cursor: url('../img/UI/pointer.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-tab {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    z-index: 999;
}
.logo-tab img{
    image-rendering: pixelated;
}
button:active,
body:active {
    cursor: url('../img/UI/pointer_click.png'), auto;
}
button:hover {
    cursor: url('../img/UI/pointer_hover.png'), auto;
}


.marketplace {
    position: absolute;
    top: 20%;
    border: 8px solid #aa7959;
    border-radius: 10px;
    background: #e8cfa6;
    padding: 10px 0 30px 0;
    text-align: center;
    min-width: 1200px;
}
.product-row {
    display: flex;
    justify-content: center;
}
.product {
    padding: 0 0 0 0;
    flex: 0 0 calc(16%); /* Adjusted flex-basis */
    width: 175px;
    margin: 1%;
    text-align: center;
}
.product p{
    margin: 20px;
}
img.crate-image {
    height: 100px;
    image-rendering: pixelated;
}







.quantity-button {
    height: 40px;
    background: none;
    border: none;
    padding: 0;
}
.quantity-button img {
    height: 40px;
    image-rendering: pixelated;
}
.num-input {
    font-family: Arial, sans-serif;
    width: 50px;
    height: 31px; /* Adjust height as needed */
    background: #e8cfa6;
    border: 3px solid #aa7959;
    border-radius: 3px;
    -moz-appearance: textfield;
    text-align: center; /* Center text horizontally */
    z-index: 1; /* Ensure it's above other elements */
    position: relative;
    top: 7%;
    transform: translateY(-50%);
    margin-right: -5px;
    margin-left: -5px;
}
.num-input::-webkit-inner-spin-button,
.num-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


.cart {
    margin-top: 25px;
}
.sell-btn {
    background: none;
    border: none;
    image-rendering: pixelated;
}

.crops {
    width: 100vw;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center; /* Centers child elements horizontally */
    align-items: center;     /* Centers child elements vertically */
    z-index: 999;
}

.crops img {
    image-rendering: pixelated;
    height: 50px;
}


