body {
    font-family: 'Press Start 2P', cursive; /* Pixel-style font */
}

header {
    position: absolute; /* Positions the header absolutely relative to its positioned ancestor */
    top: 0; /* Aligns to the top */
    left: 0; /* Aligns to the left */
    width: 100%; /* Ensures the header spans the full width */
    background-color: rgba(255, 255, 255, 0.22); /* Semi-transparent background */
    z-index: 1000; /* Ensures the header is above other content */
}

footer {
    position: absolute; /* Positions the footer absolutely relative to its positioned ancestor */
    bottom: 0; /* Aligns to the bottom */
    left: 0; /* Aligns to the left */
    width: 100%; /* Ensures the footer spans the full width */
    background-color: rgba(255, 255, 255, 0.22); /* Semi-transparent background */
    z-index: 1000; /* Ensures the footer is above other content */
}

a, button {
    cursor: pointer; /* This will change the cursor to the 'click' pointer when hovering */
}

/* Styles for chat messages */
.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between messages */
}

/* Styles for messages sent by the current user */
.sent {
    align-self: flex-end; /* Aligns sent messages to the right */
    max-width: 70%;
    padding: 8px 15px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-radius: 15px 0px 15px 15px; /* Rounded corners except top-right */
    margin-right: 10px; /* Ensures some space from the edge */
}

/* Styles for messages received from friends */
.received {
    align-self: flex-start; /* Aligns received messages to the left */
    max-width: 70%;
    padding: 8px 15px;
    background-color: #f1f1f1; /* Light grey background */
    color: black; /* Dark text color for contrast */
    border-radius: 0px 15px 15px 15px; /* Rounded corners except top-left */
    margin-left: 10px; /* Ensures some space from the edge */
}

.time-divider {
    text-align: center;
    margin: 10px 0;
    color: #888;
    font-size: 0.85rem;
}

