body {
    font-family: 'Press Start 2P', cursive; /* Pixel-style font */
}

header {
    position: absolute; /* Positions the header absolutely relative to its positioned ancestor */
    top: 0; /* Aligns to the top */
    left: 0; /* Aligns to the left */
    width: 100%; /* Ensures the header spans the full width */
    background-color: rgba(255, 255, 255, 0.22); /* Semi-transparent background */
    z-index: 1000; /* Ensures the header is above other content */
}

footer {
    position: absolute; /* Positions the footer absolutely relative to its positioned ancestor */
    bottom: 0; /* Aligns to the bottom */
    left: 0; /* Aligns to the left */
    width: 100%; /* Ensures the footer spans the full width */
    background-color: rgba(255, 255, 255, 0.22); /* Semi-transparent background */
    z-index: 1000; /* Ensures the footer is above other content */
}

a, button {
    cursor: pointer; /* This will change the cursor to the 'click' pointer when hovering */
}
