body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-weight: bold;
    cursor: url('../img/UI/pointer.png'), auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
body:active {
    cursor: url('../img/UI/pointer_click.png'), auto;
}
header {
    cursor: url('../img/UI/pointer.png'), auto;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%; /* spans the full width */
    background-color: transparent;
    z-index: 1000; /* header is above other content */
}
header:active {
    cursor: url('../img/UI/pointer_click.png'), auto;
}
.home-btn:hover,
.resource-btn:hover,
.chat-btn:hover,
.setting-btn:hover,
.market-btn:hover,
.attack-btn:hover,
img:hover {
    cursor: url('../img/UI/pointer_hover.png'), auto;
}
.home-btn:focus ,
.resource-btn:focus ,
.chat-btn:focus ,
.setting-btn:focus ,
.market-btn:focus ,
.attack-btn:focus ,
.attack-btn:focus {
    outline: none;
}
.home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    padding: 0;
}
.resource-btn {
    position: absolute;
    top: 10px;
    left: 65px;
    background: none;
    border: none;
    padding: 0;
}
.chat-btn{
    position: absolute;
    top: 10px;
    right: 65px;
    background: none;
    border: none;
    padding: 0;
}
.setting-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
}
.market-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    border: none;
    padding: 0;
}
.attack-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
}




.overlay{
    position: absolute;
    top: -10px;
    left: 120px;
    display: none;
    justify-content: center;
    align-items: center;
}
.popup {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 10px;
}
.popup img {
    height: 48px;
    vertical-align: middle;
    image-rendering: pixelated;
}



.money-display {
    position: absolute;
    top: 10px;
    right: 120px;
    display: flex;
    align-items: center;
}
.money-display img {
    margin-right: 0; /* Remove margin between images */
    height: 48px;
    image-rendering: pixelated;
}



footer {
    cursor: url('../img/UI/pointer.png'), auto;
    position: absolute; /* Positions the footer absolutely relative to its positioned ancestor */
    bottom: 0; /* Aligns to the bottom */
    left: 0; /* Aligns to the left */
    width: 100%; /* Ensures the footer spans the full width */
    background-color: transparent;
    z-index: 1000; /* Ensures the footer is above other content */
    font-size: 8px;
    justify-content: center;
}








