<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{app_data['app_name']}} - Exploration</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.ico') }}">
  <link rel="stylesheet" href="../../static/css/explore.css">
</head>
<body>
{% include 'header&footer.html' %}
<div class=logo-tab">
    <img src="../../static/img/UI/Explore_tab.png" alt="-" draggable="false">
</div>
<div class="exploration" id="before-exploration">
    <div class="animal-list">
        <div class="animal">
            <img src="../../static/img/animals/Chicken/Chicken.1.png" class="animal-img" alt="Chicken" title="Chicken" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button" id="Decrease-Chicken">
                    <img src="../../static/img/UI/minus_btn.png" alt="-" draggable="false">
                </button>
                <input class="input-container" type="number" id="Chicken" value="0" min="0">
                <button class="quantity-button" id="Increase-Chicken">
                    <img src="../../static/img/UI/plus_btn.png" alt="+" draggable="false">
                </button>
            </div>
        </div>

        <div class="animal">
            <img src="../../static/img/animals/Cow/Cow.1.png" class="animal-img" alt="Cow" title="Cow" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button" id="Decrease-Cow">
                    <img src="../../static/img/UI/minus_btn.png" alt="-" draggable="false">
                </button>
                <input class="input-container" type="number" id="Cow" value="0" min="0">
                <button class="quantity-button" id="Increase-Cow">
                    <img src="../../static/img/UI/plus_btn.png" alt="+" draggable="false">
                </button>
            </div>
        </div>

        <div class="animal">
            <img src="../../static/img/animals/Pig/Pig.1.png" class="animal-img" alt="Pig" title="Pig" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button" id="Decrease-Pig">
                    <img src="../../static/img/UI/minus_btn.png" alt="-" draggable="false">
                </button>
                <input class="input-container" type="number" id="Pig" value="0" min="0">
                <button class="quantity-button" id="Increase-Pig">
                    <img src="../../static/img/UI/plus_btn.png" alt="+" draggable="false">
                </button>
            </div>
        </div>

        <div class="animal">
            <img src="../../static/img/animals/Goat/Goat.1.png" class="animal-img" alt="Goat" title="Goat" draggable="false">
            <div class="quantity-selector">
                <button class="quantity-button"  id="Decrease-Goat">
                    <img src="../../static/img/UI/minus_btn.png" alt="-" draggable="false">
                </button>
                <input class="input-container" type="number" id="Goat" value="0" min="0">
                <button class="quantity-button" id="Increase-Goat">
                    <img src="../../static/img/UI/plus_btn.png" alt="+" draggable="false">
                </button>
            </div>
        </div>

    </div>

    <div class="perk-list" id="perk-list">
        Perks:<br>
        Risk: 0%
    </div>

    <div class="explore">
        <select id="exploration-time" class="exploration-time">
            <option value="1">1 minute</option>
            <option value="20">20 minutes</option>
            <option value="60">1 hour</option>
            <option value="180">3 hours</option>
            <option value="720">12 hours</option>
            <option value="1440">1 day</option>
        </select>
        <button class="explore-btn" id="explore-btn">
            <img src="../../static/img/UI/big_explore_btn.png" alt="explore" draggable="false">
        </button>
    </div>
</div>
<div class="exploration" id="during-exploration"></div>
<div class="exploration" id="after-exploration">
    <div class="rewards" id="rewards">

    </div>
    <div class="buttons" id="buttons">
        <button class="open-btn" id="open-btn">
            <img src="../../static/img/UI/open_btn.png" alt="open" draggable="false">
        </button>
        <button class="continue-btn" id="continue-btn">
            <img src="../../static/img/UI/continue_btn.png" alt="continue" draggable="false">
        </button>
    </div>
    <div class="reward-items" id="reward-items">

    </div>
    <div class="animals" id="animals">

    </div>
</div>
<script src="../../static/js/explore.js"></script>
</body>
</html>
